.navbar-custom {
  background-color: transparent;
  border: none;
  padding: 10px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar-toggler-icon {
    background-color: #ff5733;
    border: none;
    border-radius: 4px;
  }

  .nav-link,
  .resume-link {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none !important;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #ff5733;
      color: #fff;
      cursor: pointer;
    }
  }
}
