.skills-container {
  padding: 50px;
  text-align: center;
}

.skill-category {
  margin-bottom: 30px;
}

.skill-category h2 {
  font-size: 1.5rem;
}

.skill-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  transition: transform 0.3s ease;
}

.icon-style {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-item:hover {
  transform: scale(1.1);
}
