.home-section {
  background-color: #001c30;
  padding: 100px 0;
  text-align: center;
}

.home-header {
  color: #ffffff;
}

.heading {
  font-size: 36px;
  margin-bottom: 10px;
}

.heading-name {
  font-size: 48px;
  font-weight: bold;
}

.intro-text {
  font-size: 18px;
  margin-top: 20px;
}

.btn-cta {
  margin-top: 20px;
}

.main-name {
  color: #64ccc5;
}
